@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.user-buttons {
    padding: 10px 20px;
    margin-left: 8px;
    font-weight: 600;
    border-radius: 20px;
}

main {
    display: flex;
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;

}

.container {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container p {
    color: #fff;
    margin-bottom: 16px;
    font-weight: 500;
}

.sidebar {
    width: 330px;
    background-color: #121212;
    padding: 24px;
    padding-bottom: 90px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}


.logo i {
   font-size: 24px;
}

.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;

}

.nav-library i, .nav-library p {
    color: #B7B3B6;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist, .nav-podcast{
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
    margin-top: 16px;
}

.nav-playlist button, .nav-podcast button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-playlist p, .nav-podcast p {
    font-size: 12px;
}

.nav-footer {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-language-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 8px 16px;
    border-radius: 30px;
    width: 400px;
}

.home-icon button {
    background-color: #242424;
    border: none;
    color: #fff;
    border-radius: 20px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.content {
    flex: 1;
    padding: 2px;
    overflow-y: auto;
}

.artists-grid, .albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.artists-card, .albums-card{
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition:  background-color 0.3s;
}

.artists-card:hover, .albums-card:hover{
    background-color: #282828;
    border-radius: 10px;
}

.artists-grid img {
    max-width: 150px;
    height: auto;
    border-radius: 100%;
}

.albums-grid img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}